# Ignore OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]

# Node modules
node_modules/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Editor directories
.vscode/
.idea/

# Python server files
*.pyc
